/* users online list */
@media (max-width: 979px) {
  .aui .whiteboard-portlet .users-online .expand-collapse-btn {
    display: block; }
    .aui .whiteboard-portlet .users-online .expand-collapse-btn.selected {
      background: #D3D3D3; }
  .aui .whiteboard-portlet .users-online .users-online-wrapper {
    display: none; }
    .aui .whiteboard-portlet .users-online .users-online-wrapper.show {
      display: block; } }

